{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <p>Hello, I'm Karthi. I'm currently enrolled in a coding bootcamp and am excited to start my career
          as a web developer. I have experience with HTML, CSS, Bootstrap, JavaScript, Python and Flask and am always looking for
          ways to improve my skills. I'm eager to collaborate
          with other developers and learn new technologies. In my free time, I enjoy Listening music and practicing yoga.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}